<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Django</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container page-header">
      <h1>文章标题1</h1>
    </div>
    <div class="container page-body">
      <div class="body-main">
        <>
        <p>
          这个网站的目的？ 我们正在重写 React 文档，新文档相比旧文档有以下不同： 所有代码示例 基于
          Hook 编写 而不是 class（类）。 添加了 交互式示例 以及可视化的图表。 指南部分包含了
          挑战赛（和答案！） 以检查你的学习情况。 此网站处于 beta 阶段，包含了当前新文档的草稿。
          工作正在进行中！ 这是一个处于 beta 阶段的网站。可能会有 bug、性能问题以及内容缺失。
          多少内容已就绪？ 学习 React: ~70% 已完成。 API 参考手册: ~5% 已完成。 你可以 在 GitHub
          上跟踪我们的进度。 如何提交反馈？ 请在 这个 GitHub issue 或 此匿名表单
          上提交反馈。此外，每个页面的左下角都提供了一个反馈按钮。如果你发现某些不合理的地方，也请告诉我们！
          这个站点会取代主站点吗？ 我们的目标是：一旦此站点上的内容与 现有的 React 文档
          达到同样水平了，就将此站点设置为主站点。旧版的 React
          网站将被归档并赋予一个子域名，以便您访问。旧版内容的链接将重定向到所赋予的二级域名上，并添加类似“内容陈旧”的提示信息。
        </p>
        <p>
          这个网站的目的？ 我们正在重写 React 文档，新文档相比旧文档有以下不同： 所有代码示例 基于
          Hook 编写 而不是 class（类）。 添加了 交互式示例 以及可视化的图表。 指南部分包含了
          挑战赛（和答案！） 以检查你的学习情况。 此网站处于 beta 阶段，包含了当前新文档的草稿。
          工作正在进行中！ 这是一个处于 beta 阶段的网站。可能会有 bug、性能问题以及内容缺失。
          多少内容已就绪？ 学习 React: ~70% 已完成。 API 参考手册: ~5% 已完成。 你可以 在 GitHub
          上跟踪我们的进度。 如何提交反馈？ 请在 这个 GitHub issue 或 此匿名表单
          上提交反馈。此外，每个页面的左下角都提供了一个反馈按钮。如果你发现某些不合理的地方，也请告诉我们！
          这个站点会取代主站点吗？ 我们的目标是：一旦此站点上的内容与 现有的 React 文档
          达到同样水平了，就将此站点设置为主站点。旧版的 React
          网站将被归档并赋予一个子域名，以便您访问。旧版内容的链接将重定向到所赋予的二级域名上，并添加类似“内容陈旧”的提示信息。
        </p>
      </div>
    </div>
  </body>
</html>
